mixin toolbar_head
	block

mixin toolbar_body

	#toolbar(ng-controller='ToolbarController', drag-scroll, style='display:none')

		//#MenuLogInicon.icon.login.icondisabled(src='login', title='Log In')
		.icon.logout(title='Leave World', ng-click='triggerMenu("MenuLogOut")')
		.separator

		.icon.undo(title='Undo (ctrl-z)')
		.icon.redo(title='Redo (ctrl-y)')
		.separator

		.icon.move(toolbar-select='xfSelected = "move"', title='Move Tool', ng-click='triggerMenu("MenuMove")'
			ng-class='{"icondisabled": !fields.selectedNode, "iconselected": xfSelected === "move"}')
		.icon.rotate(toolbar-select='xfSelected = "rotate"', title='Rotate Tool', ng-click='triggerMenu("MenuRotate")'
			ng-class='{"icondisabled": !fields.selectedNode, "iconselected": xfSelected === "rotate"}')
		.icon.scale(toolbar-select='xfSelected = "scale"', title='Scale Tool', ng-click='triggerMenu("MenuScale")'
			ng-class='{"icondisabled": !fields.selectedNode, "iconselected": xfSelected === "scale"}')
		.separator

		.icon.worldspace(title='Use World Coordinates', ng-click='triggerMenu("MenuWorld")'
			ng-class='{"icondisabled": !fields.selectedNode, "iconselected": fields.coordSpaceSelected === "world"}')
		.icon.localspace(title='Use Local Coordinates', ng-click='triggerMenu("MenuLocal")'
			ng-class='{"icondisabled": !fields.selectedNode, "iconselected": fields.coordSpaceSelected === "local"}')
		.separator

		.icon.pick(title='Select by clicking', ng-click='triggerMenu("MenuSelectPick")')
		.icon.selectnone(title='Select None', ng-click='triggerMenu("MenuSelectNone")')
		.icon.up(title='Select Parent', ng-click='triggerMenu("MenuSelectParent")', ng-class='{"icondisabled": !fields.selectedNode}')
		.icon.target(title='Focus to selected object', ng-click='triggerMenu("MenuFocusSelected")', ng-class='{"icondisabled": !fields.selectedNode}')
		.separator

		.icon.copy(title='Copy', ng-click='triggerMenu("MenuCopy")', ng-class='{"icondisabled": !fields.selectedNode}')
		.icon.paste(title='Paste', ng-click='triggerMenu("MenuPaste")')
		.icon.duplicate(title='Duplicate', ng-click='triggerMenu("MenuDuplicate")', ng-class='{"icondisabled": !fields.selectedNode}')
		.icon.delete(title='Delete', ng-click='triggerMenu("MenuDelete")', ng-class='{"icondisabled": !fields.selectedNode}')
		.separator

		.icon.link(title='Link', ng-click='triggerMenu("MenuSetParent")', ng-class='{"icondisabled": !fields.selectedNode}')
		.icon.unlink(title='Unlink', ng-click='triggerMenu("MenuRemoveParent")', ng-class='{"icondisabled": !fields.selectedNode}')
		.separator

		.icon.camera(title='Orbit Camera', ng-click='triggerMenu("MenuCameraOrbit")', toolbar-select='cameraSelected = "orbit"'
			ng-class='{"iconselected": cameraSelected === "orbit"}')
		.icon.firstperson(title='First Person Camera', ng-click='triggerMenu("MenuCamera3RDPerson")', toolbar-select='cameraSelected = "firstperson"'
			ng-class='{"iconselected": cameraSelected === "firstperson"}')
		.icon.navigate(title='Navigation Camera', ng-click='triggerMenu("MenuCameraNavigate")', toolbar-select='cameraSelected = "navigate"'
			ng-class='{"iconselected": cameraSelected === "navigate"}')
		.icon.free(title='Free Camera', ng-click='triggerMenu("MenuCameraFree")', toolbar-select='cameraSelected = "free"'
			ng-class='{"iconselected": cameraSelected === "free"}')
		.separator

		.icon.sphere(title='Create Sphere', ng-click='triggerMenu("MenuCreateSphere")')
		.icon.cube(src='cube', title='Create Box', ng-click='triggerMenu("MenuCreateBox")')
		.icon.cylinder(title='Create Cylinder', ng-click='triggerMenu("MenuCreateCylinder")')
		.icon.cone(title='Create Cone', ng-click='triggerMenu("MenuCreateCone")')
		.icon.plane(title='Create Plane', ng-click='triggerMenu("MenuCreatePlane")')
		.separator

		.icon.script(src='script', title='Show Script Editor Window', ng-click='triggerMenu("MenuScriptEditor")'
			ng-class='{"icondisabled": !fields.selectedNode}')
		.icon.chat(title='Show Chat Window', ng-click='triggerMenu("MenuChat")')
		.icon.models(title='Show Model Library Window', ng-click='triggerMenu("MenuAssets3DRBrowse")')

